<h1 class="text-center">Bienvenue</h1>

<img id="photomoi" src="../assets/photodunepersonnequinapascomprisquecestlui.jpg" title="photo_mec_fatigue" />
<p class="text-justify" id="txt-moi">
    ElekMarket est une e-plateforme de vente de materiel informatique, développée en Angular et avec un service PHP.
    Cette application fait office de vitrine mais est aussi une plateforme de gestion de ses articles,
    bricolée..heu...développée dans un cadre d'apprentissage par Florian URENA c'est lui là sur la Photo.
</p>